html {
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/hotel-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92%;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  font-family: 'Cormorant SC', serif;
  font-size: xxx-large;
}

button, input {
  cursor: pointer;
}
/* .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92%;
  width: 100%;

} */

.login-form {
  width: 25%;
  height: 20%;
  margin-top: 15%;
  background: rgba(255,255,255,0.6);
  border-radius: 5%;
}

.total-amount-spent {
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
}

.bookings-message {
  font-family: 'Cormorant SC', serif;
  margin-top: 0%;
}

.bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 75%;
  width: 75%;
  overflow-y: auto;
  font-family: 'Cormorant SC', serif;
}

.filter-wrapper {
  display: flex;
  background: rgba(255,255,255,0.6);
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
  overflow-y: auto;
  font-family: 'Cormorant SC', serif;
  border-radius: 5%;
}

.back-to-bookings {
  width: 20%;
  height: 100%;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
  color: aliceblue;
  background-color: #7500ff;
  border-radius: 8px;
}

.radio {
  margin-right: -3%;
}

.filter-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}

.filter-button {
  margin-top: 0%;
  width: 25%;
  height: 10%;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
  color: aliceblue;
  background-color: #7500ff;
  border-radius: 8px;
 
}

.single-booking-details {
  padding: 5%;
}

.select-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: x-large;
  font-family: 'Cormorant SC', serif;
  width: 30%;
  height: 20%;
  margin-top: 1%;
  background: rgba(255,255,255,0.6);
}

#date-picker {
  font-size: x-large;
  background-color: rgb(255,255,255,0.8);
  font-family: 'Cormorant SC', serif;
  width: 40%;
}

.available-rooms {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 25%;
  background-color: #7500ff;
  margin: 1%;
  color: aliceblue;
}

.available-rooms-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
  overflow-y: auto;
}

.room-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  width: 40%;
  height: 60%;
  background-color: #7500ff;
  margin: 1%;
  color: aliceblue;
  
}

form {
  display: flex;
  justify-content: center;
  width: 85%;
}

.search-button {
  width: 30%;
  height: 20%;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
  color: aliceblue;
  background-color: #7500ff;
  border-radius: 8px;
}

.select-message {
  font-size: 100%;
  margin: 0%;
}

.filter-apology-message {
  font-size: 40px;
  text-align: center;
}

.confirm-booking-button {
  width: 25%;
  height: 15%;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
  color: aliceblue;
  background-color: #7500ff;
  border-radius: 8px;
  margin-top: 10%;
}

.confirm-booking-button-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.book-room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.6);
  border-radius: 5%;
  height: 70%;
  width: 50%;
  font-family: 'Cormorant SC', serif;
}

.customers-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.6);
  border-radius: 5%;
  height: 70%;
  width: 50%;
  font-family: 'Cormorant SC', serif;
}

.single-booking {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 13px;
  width: 20%;
  height: 15%;
  margin: 10px;
  background-color: #7500ff;
  color: white;
  border-radius: 5px;
}

.hidden {
  display: none;
}